<div class="container">
    <table class="table table-striped">

        <thead class="container-fluid">
            <tr>
                <th scope="col" class="container-fluid">
                    Retail Invoice
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dealer GST No. </td>
                <td>:</td>
                <td>36AAFCB6312A1ZA</td>
                <td>Customer GST No</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Customer Name</td>
                <td>:</td>
                <td>Mr. NIVAS BACHU</td>
                <td>Customer Idt</td>
                <td>:</td>
                <td>C2021010165</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>:</td>
                <td>FNO.510,HIMAGIRI HEIGH,VINAYAKA NAGAR
                    COLONY,HAFEEZPET,MIYAPUR,SERILINGAMPALLY,RANGA REDDY,Tirumalagiri TELANGANA 500049
                </td>
                <td>Invoice No</td>
                <td>:</td>
                <td>Invoice No</td>
            </tr>
            <tr>
                <td>Financed by</td>
                <td>:</td>
                <td>State Bank of India
                </td>
                <td>Invoice Date</td>
                <td>:</td>
                <td>27/03/2021</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="line">
            <div class="col-md-6">
                <h2>PARTICULARS</h2>
            </div>
            <div class="col-md-6">
                <h2 class="h2">AMOUNT(Rs)</h2>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>1) Price of One </td>
                    <td></td>
                    <td>Grand i10 NIOS Grand i10 NIOS 1.2 AMT</td>
                    <td></td>
                    <td>556,395</td>
                </tr>
                <tr>
                    <td>2) Discount </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>3) Net Selling Price</td>
                    <td></td>
                    <td>
                    </td>
                    <td></td>
                    <td>556,395</td>
                </tr>
                <tr>
                    <td>4.1) CGST</td>
                    <td></td>
                    <td>14%
                    </td>
                    <td></td>
                    <td>77,895</td>
                </tr>
                <tr>
                    <td>4.1) SGST</td>
                    <td></td>
                    <td>14%
                    </td>
                    <td></td>
                    <td>77,895</td>
                </tr>
                <tr>
                    <td>4.3) Compensation Cess</td>
                    <td>1%</td>
                    <td>
                    </td>
                    <td></td>
                    <td>5,564</td>
                </tr>
                <tr>
                    <td scope="row" colspan="4">
                        <strong>TOTAL</strong>
                    </td>
                    <td>717,749</td>
                </tr>
                <tr class="line">
                    <td colspan="4">
                        <strong>TCS</strong>
                    </td>
                    <td>N/A</td>
                </tr>
                <tr class="line">
                    <td colspan="4">
                        <strong>Grand Total</strong>
                    <td>717,749</td>
                </tr>
            </tbody>
        </table>
        <div>
            <span>
                Rupees Seven Lakhs Seventeen Thousand Seven Hundred Forty
                Nine Only
            </span>
        </div>
    </div><br><br>
    <div>
        <strong>Vehicle Particulars</strong>
        <div>
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <td scope="col">Vin No.
                            MALB351CYMM161076</td>
                        <td scope="col">Chassis No.
                            MALB351CYMM161076
                        </td>
                        <td scope="col">Engine No.
                            G4LALM717635
                        </td>
                        <td scope="col">G4LALM717635
                            P2203</td>
                        <td scope="col">HSN No

                            8703.22.91</td>
                    </tr>
                </thead>
            </table>
        </div>
        <div>
            <p>For <strong>BHARAT MOTOCORP PRIVATE LIMITE</strong></p>
        </div>
    </div><br>
    <br>
    <div class="row">
        <div class="col-md-6">
            <small>Signature of Customer</small>
        </div>
        <div class="col-md-6">
            <div class="col-md 6">
                <small>Authorised Signatory</small>
            </div>
        </div>
    </div>
</div>