<div class="container-fluid">
    <form [formGroup]="form" (ngSubmit)="submit(form.value)" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group ">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="text" class="form-control" placeholder="Username" formControlName="username">
                    <!-- <mat-error *ngIf="isControlHasError('fastTagNo','required','form')">
                        required</mat-error> -->
                    <!-- <mat-error *ngIf="form.controls['username'].touched && form.controls['username'].errors  ">
                        required
                    </mat-error> -->
                    <small *ngIf="isSubmitted && form.controls['Username'].errors"> required</small>
                </div>
                <div class="form-group ">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="mail" placeholder="mail-id">
                    <small *ngIf="isSubmitted && form.controls['mail'].errors"> required</small>
                </div>
                <div class="form-group ">
                    <label for="inputPassword4" class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                    <small *ngIf="isSubmitted && form.controls['password'].errors"> required</small>
                </div>
                <div class="form-group">
                    <label for="inputMessage" class="form-label">Message</label>
                    <input type="text" class="form-control" formControlName="message" placeholder="message">
                    <small *ngIf="isSubmitted && form.controls['message'].errors"> required</small>
                </div>
                <button type="submit" class="btn btn-primary submit-button">Submit</button>
            </div>
        </div>
    </form>
</div>