<h1 mat-dialog-title>Row Action :: <strong>{{action}}</strong></h1>
<div mat-dialog-content>
    <mat-form-field>
        <input placeholder="{{action}} SNO " matInput [(ngModel)]="local_data.sno
        ">
    </mat-form-field>

</div>
<div mat-dialog-content>
    <mat-form-field>
        <input placeholder="{{action}} GL ACCOUNT NAME " matInput [(ngModel)]="local_data.glaccountname">
    </mat-form-field>

</div>
<div mat-dialog-content>
    <mat-form-field>
        <input placeholder="{{action}} GL GROUP NAME" matInput [(ngModel)]="local_data.glgroupname">
    </mat-form-field>

</div>
<div mat-dialog-content>
    <mat-form-field>
        <input placeholder="{{action}}GL SUB GROUP NAME" matInput [(ngModel)]="local_data.glsubgroupname">
    </mat-form-field>

</div>
<div mat-dialog-content>
    <mat-form-field>
        <input placeholder="{{action}} VISIBLE TO VENDOR" matInput [(ngModel)]="local_data.vendor">
    </mat-form-field>

</div>

<div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>